name: Builder-jasmeme

on:
  workflow_dispatch:
    inputs:
      DEVICE_NAME:
        description: 'Dispositivo'
        required: true
        default: 'wayne'
      ROM_URL:
        description: 'Rom Miui Lavender'
        required: true
        default: 'https://bigota.d.miui.com/V12.5.3.0.QFGMIXM/miui_LAVENDERGlobal_V12.5.3.0.QFGMIXM_0baf420181_10.0.zip'
      GITHUB_TOKEN:
        description: 'Token de Github'
        required: true
        default: ''
      
jobs:
  build:
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: ubuntu-latest
    steps:
    - name: Checkeando 
      uses: actions/checkout@main
    
    - name: Set variables
      run: |
        echo "::set-output name=date::$(date +%F)"
      id: var
     
    - name: Clonando Repositorio
      run: |
        git clone https://github.com/FabricioSC123/builder-jasmeme.git -b ${{ github.event.inputs.DEVICE_NAME }} jasmeme
        
    - name: Instalando Packages
      run: |
        cd jasmeme
        sudo ./prep.sh

    - name: Creando Port
      run: |
        cd jasmeme
        aria2c -o rom.zip ${{ github.event.inputs.ROM_URL }}
        aria2c -o stock.tgz https://bigota.d.miui.com/V11.0.28.0.QDIMIXM/jasmine_global_images_V11.0.28.0.QDIMIXM_20210702.0000.00_10.0_d88fa668a6.tgz
        ./port.sh rom.zip stock.tgz

    - name: Creando Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ github.event.inputs.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.run_id }}
        release_name:  10_MIUI_12_${{ github.event.inputs.DEVICE_NAME }}-${{ github.run_id }}
        body: Port From ${{ github.event.inputs.DEVICE_NAME }}
        draft: false
        prerelease: false
      
    - name: Subiendo Port
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.event.inputs.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: |
                 10_MIUI_12_wayne_system.zip
                 10_MIUI_12_wayne_vendor.zip   
        asset_name: 10_MIUI_12_wayne_${{ github.run_id }}.zip
        asset_content_type: application/zip
